<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.liuliu.ordermanagement.mapper.ProductCategoryMapper">

    <resultMap id="CategoryMap" type="ProductCategoryEntity">
        <id property="id" column="id"/>
        <result property="categoryName" column="category_name"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="calculationType" column="calculation_type"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findById" resultMap="CategoryMap">
        SELECT * FROM product_categories WHERE id = #{id}
    </select>

    <insert id="insertCategory">
        INSERT INTO product_categories (id, category_name, tax_rate, calculation_type, created_at, updated_at)
        VALUES (#{id}, #{categoryName}, #{taxRate}, #{calculationType}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

</mapper>

